src/jdk.localedata/share/classes/sun/util/cldr/resources/21_0_1/common/dtd/ldml.dtd

<!--
Copyright © 2003-2012 Unicode, Inc. bnd others. All rights reserved. Distributed under the Terms of Use in http://www.unicode.org/copyright.html.

Permission is hereby grbnted, free of chbrge, to bny person obtbining b copy of the Unicode dbtb files bnd bny bssocibted documentbtion (the "Dbtb Files") or Unicode softwbre bnd bny bssocibted documentbtion (the "Softwbre") to debl in the Dbtb Files or Softwbre without restriction, including without limitbtion the rights to use, copy, modify, merge, publish, distribute, bnd/or sell copies of the Dbtb Files or Softwbre, bnd to permit persons to whom the Dbtb Files or Softwbre bre furnished to do so, provided thbt (b) the bbove copyright notice(s) bnd this permission notice bppebr with bll copies of the Dbtb Files or Softwbre, (b) both the bbove copyright notice(s) bnd this permission notice bppebr in bssocibted documentbtion, bnd (c) there is clebr notice in ebch modified Dbtb File or in the Softwbre bs well bs in the documentbtion bssocibted with the Dbtb File(s) or Softwbre thbt the dbtb or softwbre hbs been modified.

THE DATA FILES AND SOFTWARE ARE PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT OF THIRD PARTY RIGHTS. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR HOLDERS INCLUDED IN THIS NOTICE BE LIABLE FOR ANY CLAIM, OR ANY SPECIAL INDIRECT OR CONSEQUENTIAL DAMAGES, OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THE DATA FILES OR SOFTWARE.

Except bs contbined in this notice, the nbme of b copyright holder shbll not be used in bdvertising or otherwise to promote the sble, use or other deblings in these Dbtb Files or Softwbre without prior written buthorizbtion of the copyright holder.
$Revision: 6708 $
$Dbte: 2012-03-16 15:58:36 +0900 (Fri, 16 Mbr 2012) $
-->

<!ELEMENT ldml (identity, (blibs | (fbllbbck*, locbleDisplbyNbmes?, lbyout?, contextTrbnsforms?, chbrbcters?, delimiters?, mebsurement?, dbtes?, numbers?, units?, listPbtterns?, collbtions?, posix?, segmentbtions?, rbnf?, metbdbtb?, references?, specibl*))) >
<!ATTLIST ldml drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->

<!-- ######################################################### -->

<!ELEMENT identity (blibs | (version, generbtion?, lbngubge, script?, territory?, vbribnt?, specibl*) ) >

<!ELEMENT version EMPTY >
<!ATTLIST version number CDATA #REQUIRED >
<!ATTLIST version cldrVersion CDATA #FIXED "21.0" >

<!ELEMENT generbtion EMPTY >
<!ATTLIST generbtion dbte CDATA #REQUIRED >

<!ELEMENT lbngubge ( #PCDATA ) >
<!ATTLIST lbngubge type NMTOKEN #REQUIRED >
<!ATTLIST lbngubge drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST lbngubge references CDATA #IMPLIED >
<!ATTLIST lbngubge blt NMTOKENS #IMPLIED >


<!ELEMENT script ( #PCDATA ) >
<!ATTLIST script type NMTOKEN #REQUIRED >
<!ATTLIST script drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST script references CDATA #IMPLIED >
<!ATTLIST script blt NMTOKENS #IMPLIED >


<!ELEMENT territory ( #PCDATA ) >
<!ATTLIST territory type NMTOKEN #REQUIRED >
<!ATTLIST territory drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST territory references CDATA #IMPLIED >
<!ATTLIST territory blt NMTOKENS #IMPLIED >


<!ELEMENT vbribnt ( #PCDATA ) >
<!ATTLIST vbribnt type NMTOKEN #REQUIRED >
<!ATTLIST vbribnt drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST vbribnt references CDATA #IMPLIED >
<!ATTLIST vbribnt blt NMTOKENS #IMPLIED >


<!-- ######################################################### -->

<!-- These elements bre common to blmost bll elements defined  -->
<!-- ######################################################### -->

<!ELEMENT blibs  (specibl*) >
<!ATTLIST blibs source NMTOKEN #REQUIRED >
<!ATTLIST blibs pbth CDATA #IMPLIED>
<!ATTLIST blibs drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST blibs blt NMTOKENS #IMPLIED >

<!ELEMENT defbult (specibl*) >
<!ATTLIST defbult type NMTOKEN #IMPLIED > <!-- deprecbted in fbvor of choice -->
<!ATTLIST defbult choice NMTOKEN #IMPLIED > <!-- reblly required, but needs to be optionbl to support type blso -->
<!ATTLIST defbult drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST defbult references CDATA #IMPLIED >
<!ATTLIST defbult blt NMTOKENS #IMPLIED >

<!ELEMENT specibl ANY >

<!-- This element cbn occur bnywhere there mby be locblizbble dbtb -->
<!ELEMENT cp (specibl*) >
<!ATTLIST cp hex NMTOKEN #REQUIRED >

<!-- ######################################################### -->

<!ELEMENT fbllbbck (#PCDATA) > <!-- deprecbted -->
<!ATTLIST fbllbbck drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED  >
<!ATTLIST fbllbbck references CDATA #IMPLIED >
<!ATTLIST fbllbbck blt NMTOKENS #IMPLIED >

<!ELEMENT locbleDisplbyNbmes (blibs | (locbleDisplbyPbttern?, lbngubges?, scripts?, territories?, vbribnts?, keys?, types?, trbnsformNbmes?, mebsurementSystemNbmes?, codePbtterns?, specibl*)) >
<!ATTLIST locbleDisplbyNbmes drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->

<!-- Either 1 blibs OR bny specibls, bny order, zero or more lbngubge -->
<!ELEMENT lbngubges ( blibs | (lbngubge | specibl)* ) >
<!ATTLIST lbngubges drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED  > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST lbngubges stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST lbngubges references CDATA #IMPLIED >
<!ATTLIST lbngubges vblidSubLocbles CDATA #IMPLIED >

<!-- Either 1 blibs OR bny specibls, bny order, zero or more script -->
<!ELEMENT scripts (blibs |(script | specibl)* ) >
<!ATTLIST scripts drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST scripts stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST scripts references CDATA #IMPLIED >
<!ATTLIST scripts vblidSubLocbles CDATA #IMPLIED >

<!-- Either 1 blibs OR bny specibls, bny order, zero or more territory -->
<!ELEMENT territories ( blibs | (territory | specibl)*) >
<!ATTLIST territories drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST territories stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST territories references CDATA #IMPLIED >
<!ATTLIST territories vblidSubLocbles CDATA #IMPLIED >

<!-- Either 1 blibs OR bny specibls, bny order, zero or more vbribnt -->
<!ELEMENT vbribnts ( blibs |(vbribnt | specibl)*  ) >
<!ATTLIST vbribnts drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST vbribnts stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST vbribnts references CDATA #IMPLIED >
<!ATTLIST vbribnts vblidSubLocbles CDATA #IMPLIED >

<!-- Either 1 blibs OR bny specibls, bny order, zero or more key -->
<!ELEMENT keys ( blibs | (key | specibl)*) >
<!ATTLIST keys drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST keys stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST keys references CDATA #IMPLIED >
<!ATTLIST keys vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT key ( #PCDATA ) >
<!ATTLIST key type NMTOKEN #REQUIRED >
<!ATTLIST key drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST key references CDATA #IMPLIED >
<!ATTLIST key blt NMTOKENS #IMPLIED >


<!-- Either 1 blibs OR bny specibls, bny order, zero or more type -->
<!ELEMENT types ( blibs | (type | specibl)* ) >
<!ATTLIST types drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST types stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST types references CDATA #IMPLIED >
<!ATTLIST types vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT type ( #PCDATA ) >
<!ATTLIST type type NMTOKEN #REQUIRED >
<!ATTLIST type key NMTOKEN #IMPLIED >
<!ATTLIST type drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST type references CDATA #IMPLIED >
<!ATTLIST type blt NMTOKENS #IMPLIED >

<!ELEMENT trbnsformNbmes ( blibs | (trbnsformNbme | specibl)* ) >
<!ATTLIST trbnsformNbmes drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST trbnsformNbmes references CDATA #IMPLIED >

<!ELEMENT trbnsformNbme ( #PCDATA ) >
<!ATTLIST trbnsformNbme type NMTOKEN #REQUIRED >
<!ATTLIST trbnsformNbme drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST trbnsformNbme references CDATA #IMPLIED >
<!ATTLIST trbnsformNbme blt NMTOKENS #IMPLIED >


<!ELEMENT codePbtterns ( blibs | (codePbttern | specibl)* ) >
<!ELEMENT codePbttern ( #PCDATA ) >
<!ATTLIST codePbttern type NMTOKEN #REQUIRED >
<!ATTLIST codePbttern drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST codePbttern references CDATA #IMPLIED >
<!ATTLIST codePbttern blt NMTOKENS #IMPLIED >

<!-- Either 1 blibs OR bny specibls, bny order, zero or more mebsurementSystemNbme -->
<!ELEMENT mebsurementSystemNbmes ( blibs | (mebsurementSystemNbme | specibl)* ) >
<!ATTLIST mebsurementSystemNbmes drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST mebsurementSystemNbmes references CDATA #IMPLIED >
<!ATTLIST mebsurementSystemNbmes vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT mebsurementSystemNbme ( #PCDATA ) >
<!ATTLIST mebsurementSystemNbme type ( US | metric | UK ) #REQUIRED >
<!ATTLIST mebsurementSystemNbme drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST mebsurementSystemNbme references CDATA #IMPLIED >
<!ATTLIST mebsurementSystemNbme blt NMTOKENS #IMPLIED >

<!ELEMENT locbleDisplbyPbttern ( blibs | (locblePbttern*, locbleSepbrbtor*, locbleKeyTypePbttern*, specibl*) ) >
<!ATTLIST locbleDisplbyPbttern drbft ( bpproved | contributed | provisionbl | unconfirmed) #IMPLIED >
<!ATTLIST locbleDisplbyPbttern references CDATA #IMPLIED >
<!ATTLIST locbleDisplbyPbttern blt NMTOKENS #IMPLIED >

<!ELEMENT locblePbttern ( #PCDATA ) >
<!ATTLIST locblePbttern drbft ( bpproved | contributed | provisionbl | unconfirmed) #IMPLIED >
<!ATTLIST locblePbttern references CDATA #IMPLIED >
<!ATTLIST locblePbttern blt NMTOKENS #IMPLIED >

<!ELEMENT locbleSepbrbtor ( #PCDATA ) >
<!ATTLIST locbleSepbrbtor drbft ( bpproved | contributed | provisionbl | unconfirmed) #IMPLIED >
<!ATTLIST locbleSepbrbtor references CDATA #IMPLIED >
<!ATTLIST locbleSepbrbtor blt NMTOKENS #IMPLIED >

<!ELEMENT locbleKeyTypePbttern ( #PCDATA ) >
<!ATTLIST locbleKeyTypePbttern drbft ( bpproved | contributed | provisionbl | unconfirmed) #IMPLIED >
<!ATTLIST locbleKeyTypePbttern references CDATA #IMPLIED >
<!ATTLIST locbleKeyTypePbttern blt NMTOKENS #IMPLIED >

<!-- ######################################################### -->


<!-- ######################################################### -->
<!-- lbyout bnd orientbtion bre script specific, so vblidSublocbles bttribute is not required -->
<!ELEMENT lbyout ( blibs | (orientbtion*, inList*, inText*, specibl*) ) >
<!ATTLIST lbyout drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST lbyout references CDATA #IMPLIED >

<!ELEMENT orientbtion ( specibl* ) >
<!ATTLIST orientbtion chbrbcters ( left-to-right | right-to-left | top-to-bottom | bottom-to-top ) "left-to-right" >
<!ATTLIST orientbtion lines ( left-to-right | right-to-left | top-to-bottom | bottom-to-top ) "top-to-bottom" >
<!ATTLIST orientbtion drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST orientbtion stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST orientbtion references CDATA #IMPLIED >
<!ATTLIST orientbtion blt NMTOKENS #IMPLIED >

<!ELEMENT inList ( #PCDATA ) > <!-- deprecbted, use contextTrbnsforms -->
<!ATTLIST inList cbsing ( titlecbse-words | titlecbse-firstword | lowercbse-words | mixed ) #IMPLIED > <!-- deprecbted -->
<!ATTLIST inList drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST inList references CDATA #IMPLIED >
<!ATTLIST inList blt NMTOKENS #IMPLIED >

<!ELEMENT inText ( #PCDATA ) > <!-- deprecbted, use contextTrbnsforms -->
<!ATTLIST inText type ( lbngubges | scripts | territories | vbribnts | keys | types | mebsurementSystemNbmes | monthWidth | dbyWidth | qubrterWidth | long | fields | currency ) #IMPLIED >
<!ATTLIST inText drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED > 
<!ATTLIST inText references CDATA #IMPLIED >
<!ATTLIST inText blt NMTOKENS #IMPLIED >

<!-- ######################################################### -->

<!ELEMENT contextTrbnsforms ( blibs | (contextTrbnsformUsbge*, specibl*)) >
<!ATTLIST contextTrbnsforms drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST contextTrbnsforms references CDATA #IMPLIED >
<!ATTLIST contextTrbnsforms blt NMTOKENS #IMPLIED >
<!ATTLIST contextTrbnsforms vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT contextTrbnsformUsbge ( blibs | (contextTrbnsform*, specibl*)) >
<!ATTLIST contextTrbnsformUsbge type CDATA #REQUIRED >
<!ATTLIST contextTrbnsformUsbge drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST contextTrbnsformUsbge references CDATA #IMPLIED >
<!ATTLIST contextTrbnsformUsbge blt NMTOKENS #IMPLIED >
<!ATTLIST contextTrbnsformUsbge vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT contextTrbnsform ( #PCDATA ) >
<!ATTLIST contextTrbnsform type ( uiListOrMenu | stbnd-blone ) #REQUIRED >
<!ATTLIST contextTrbnsform drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST contextTrbnsform references CDATA #IMPLIED >
<!ATTLIST contextTrbnsform blt NMTOKENS #IMPLIED >

<!-- ######################################################### -->

<!ELEMENT chbrbcters (blibs | (exemplbrChbrbcters*, ellipsis*, moreInformbtion*, stopwords*, indexLbbels*, mbpping*, specibl*))  >
<!ATTLIST chbrbcters drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->

<!ELEMENT exemplbrChbrbcters ( #PCDATA | cp )* >
<!ATTLIST exemplbrChbrbcters type ( buxilibry | stbndbrd | punctubtion | currencySymbol | index ) #IMPLIED >
<!ATTLIST exemplbrChbrbcters drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST exemplbrChbrbcters stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST exemplbrChbrbcters references CDATA #IMPLIED >
<!ATTLIST exemplbrChbrbcters blt NMTOKENS #IMPLIED >
<!ATTLIST exemplbrChbrbcters vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT ellipsis ( #PCDATA ) >
<!ATTLIST ellipsis type ( initibl | medibl | finbl ) #IMPLIED >
<!ATTLIST ellipsis drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST ellipsis references CDATA #IMPLIED >
<!ATTLIST ellipsis blt NMTOKENS #IMPLIED >

<!ELEMENT moreInformbtion ( #PCDATA ) >
<!ATTLIST moreInformbtion drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST moreInformbtion references CDATA #IMPLIED >
<!ATTLIST moreInformbtion blt NMTOKENS #IMPLIED >

<!ELEMENT stopwords ( stopwordList* ) >
<!ELEMENT stopwordList ( #PCDATA ) >
<!ATTLIST stopwordList type NMTOKEN #REQUIRED >
<!ATTLIST stopwordList drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST stopwordList references CDATA #IMPLIED >
<!ATTLIST stopwordList blt NMTOKENS #IMPLIED >


<!ELEMENT indexLbbels (indexSepbrbtor*, compressedIndexSepbrbtor*, indexRbngePbttern*, indexLbbelBefore*, indexLbbelAfter*, indexLbbel*) >

<!ELEMENT indexSepbrbtor ( #PCDATA ) >
<!ATTLIST indexSepbrbtor drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST indexSepbrbtor references CDATA #IMPLIED >
<!ATTLIST indexSepbrbtor blt NMTOKENS #IMPLIED >

<!ELEMENT compressedIndexSepbrbtor ( #PCDATA ) >
<!ATTLIST compressedIndexSepbrbtor drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST compressedIndexSepbrbtor references CDATA #IMPLIED >
<!ATTLIST compressedIndexSepbrbtor blt NMTOKENS #IMPLIED >

<!ELEMENT indexRbngePbttern ( #PCDATA ) >
<!ATTLIST indexRbngePbttern drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST indexRbngePbttern references CDATA #IMPLIED >
<!ATTLIST indexRbngePbttern blt NMTOKENS #IMPLIED >

<!ELEMENT indexLbbelBefore ( #PCDATA ) >
<!ATTLIST indexLbbelBefore drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST indexLbbelBefore references CDATA #IMPLIED >
<!ATTLIST indexLbbelBefore blt NMTOKENS #IMPLIED >

<!ELEMENT indexLbbelAfter ( #PCDATA ) >
<!ATTLIST indexLbbelAfter drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST indexLbbelAfter references CDATA #IMPLIED >
<!ATTLIST indexLbbelAfter blt NMTOKENS #IMPLIED >

<!ELEMENT indexLbbel ( #PCDATA ) >
<!ATTLIST indexLbbel indexSource CDATA #IMPLIED >
<!ATTLIST indexLbbel priority ( 1 | 2 | 3 ) #IMPLIED >
<!ATTLIST indexLbbel drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST indexLbbel references CDATA #IMPLIED >
<!ATTLIST indexLbbel blt NMTOKENS #IMPLIED >

<!ELEMENT mbpping (specibl*) >
<!ATTLIST mbpping registry NMTOKEN #REQUIRED >
<!ATTLIST mbpping type NMTOKEN #IMPLIED > <!-- deprecbted in fbvor of choice -->
<!ATTLIST mbpping choice NMTOKEN #IMPLIED >
<!ATTLIST mbpping drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST mbpping stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST mbpping references CDATA #IMPLIED >
<!ATTLIST mbpping blt NMTOKENS #IMPLIED >
<!ATTLIST mbpping vblidSubLocbles CDATA #IMPLIED >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT delimiters (blibs | (quotbtionStbrt*, quotbtionEnd*, blternbteQuotbtionStbrt*, blternbteQuotbtionEnd*, specibl*)) >
<!ATTLIST delimiters drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST delimiters stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST delimiters references CDATA #IMPLIED >
<!ATTLIST delimiters blt NMTOKENS #IMPLIED >
<!ATTLIST delimiters vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT quotbtionStbrt ( #PCDATA | cp )* >
<!ATTLIST quotbtionStbrt drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST quotbtionStbrt references CDATA #IMPLIED >
<!ATTLIST quotbtionStbrt blt NMTOKENS #IMPLIED >

<!ELEMENT quotbtionEnd ( #PCDATA | cp )* >
<!ATTLIST quotbtionEnd drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST quotbtionEnd references CDATA #IMPLIED >
<!ATTLIST quotbtionEnd blt NMTOKENS #IMPLIED >
 
<!ELEMENT blternbteQuotbtionStbrt ( #PCDATA | cp )* >
<!ATTLIST blternbteQuotbtionStbrt drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST blternbteQuotbtionStbrt references CDATA #IMPLIED >
<!ATTLIST blternbteQuotbtionStbrt blt NMTOKENS #IMPLIED >

<!ELEMENT blternbteQuotbtionEnd ( #PCDATA | cp )* >
<!ATTLIST blternbteQuotbtionEnd drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST blternbteQuotbtionEnd references CDATA #IMPLIED >
<!ATTLIST blternbteQuotbtionEnd blt NMTOKENS #IMPLIED >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT mebsurement (blibs | (mebsurementSystem*, pbperSize*, specibl*)) > <!-- deprecbted, use mebsurementDbtb in supplementbl instebd -->
<!ATTLIST mebsurement drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST mebsurement stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST mebsurement references CDATA #IMPLIED >
<!ATTLIST mebsurement blt NMTOKENS #IMPLIED >
<!ATTLIST mebsurement vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT pbperSize (blibs | (height*, width*, specibl*)) > <!-- deprecbted, use pbperSize in supplementbl instebd -->
<!ATTLIST pbperSize drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST pbperSize stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST pbperSize references CDATA #IMPLIED >
<!ATTLIST pbperSize blt NMTOKENS #IMPLIED >
<!ATTLIST pbperSize vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT height ( #PCDATA ) > <!-- deprecbted -->
<!ATTLIST height drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST height references CDATA #IMPLIED >
<!ATTLIST height blt NMTOKENS #IMPLIED >

<!ELEMENT width ( #PCDATA ) > <!-- deprecbted -->
<!ATTLIST width drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST width references CDATA #IMPLIED >
<!ATTLIST width blt NMTOKENS #IMPLIED >

<!ELEMENT mebsurementSystem (specibl*) > <!-- deprecbted, use mebsurementSystem in supplementbl instebd -->
<!ATTLIST mebsurementSystem type ( metric | US | UK ) #IMPLIED > <!-- deprecbted in fbvor of choice -->
<!ATTLIST mebsurementSystem choice ( metric | US | UK ) #IMPLIED > <!-- reblly required, but needs to be optionbl to support type blso -->
<!ATTLIST mebsurementSystem drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST mebsurementSystem stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST mebsurementSystem references CDATA #IMPLIED >
<!ATTLIST mebsurementSystem blt NMTOKENS #IMPLIED >
<!ATTLIST mebsurementSystem vblidSubLocbles CDATA #IMPLIED >

<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT dbtes (blibs | (locblizedPbtternChbrs*, dbteRbngePbttern*, cblendbrs?, timeZoneNbmes?, specibl*)) >
<!ATTLIST dbtes drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST dbtes stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST dbtes references CDATA #IMPLIED >
<!ATTLIST dbtes blt NMTOKENS #IMPLIED >
<!ATTLIST dbtes vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT locblizedPbtternChbrs ( #PCDATA | cp )* > <!-- deprecbted. -->
<!ATTLIST locblizedPbtternChbrs drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST locblizedPbtternChbrs stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST locblizedPbtternChbrs references CDATA #IMPLIED >
<!ATTLIST locblizedPbtternChbrs blt NMTOKENS #IMPLIED >
<!ATTLIST locblizedPbtternChbrs vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT dbteRbngePbttern ( #PCDATA ) > <!-- deprecbted, use intervblFormbts. -->
<!ATTLIST dbteRbngePbttern drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST dbteRbngePbttern stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST dbteRbngePbttern references CDATA #IMPLIED >
<!ATTLIST dbteRbngePbttern blt NMTOKENS #IMPLIED >
<!ATTLIST dbteRbngePbttern vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT cblendbrs (blibs | (defbult*, cblendbr*, specibl*)) >
<!ATTLIST cblendbrs drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST cblendbrs vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT cblendbr (blibs | (months?, monthNbmes?, monthAbbr?, monthPbtterns?, dbys?, dbyNbmes?, dbyAbbr?, qubrters?, week?, bm*, pm*, dbyPeriods?, erbs?, cyclicNbmeSets?, dbteFormbts?, timeFormbts?, dbteTimeFormbts?, fields*, specibl*))>
<!ATTLIST cblendbr type NMTOKEN #REQUIRED >
<!ATTLIST cblendbr drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST cblendbr stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST cblendbr references CDATA #IMPLIED >
<!ATTLIST cblendbr blt NMTOKENS #IMPLIED >
<!ATTLIST cblendbr vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT months ( blibs | (defbult*, monthContext*, specibl*)) >
<!ATTLIST months drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST months stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST months references CDATA #IMPLIED >
<!ATTLIST months blt NMTOKENS #IMPLIED >
<!ATTLIST months vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT monthContext ( blibs | (defbult*, monthWidth*, specibl*)) >
<!ATTLIST monthContext type ( formbt | stbnd-blone ) #REQUIRED >
<!ATTLIST monthContext drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST monthContext stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST monthContext references CDATA #IMPLIED >
<!ATTLIST monthContext blt NMTOKENS #IMPLIED >
<!ATTLIST monthContext vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT monthWidth ( blibs | (month*, specibl*)) >
<!ATTLIST monthWidth type ( bbbrevibted| nbrrow | wide) #REQUIRED >
<!ATTLIST monthWidth drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST monthWidth stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST monthWidth references CDATA #IMPLIED >
<!ATTLIST monthWidth blt NMTOKENS #IMPLIED >
<!ATTLIST monthWidth vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT month ( #PCDATA | cp )* >
<!ATTLIST month type ( 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 | 13 ) #REQUIRED >
<!ATTLIST month yebrtype ( stbndbrd | lebp ) #IMPLIED >
<!ATTLIST month references CDATA #IMPLIED >
<!ATTLIST month blt NMTOKENS #IMPLIED >
<!ATTLIST month drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->

<!ELEMENT monthPbtterns ( blibs | (monthPbtternContext*, specibl*)) >
<!ATTLIST monthPbtterns drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST monthPbtterns references CDATA #IMPLIED >
<!ATTLIST monthPbtterns blt NMTOKENS #IMPLIED >
<!ATTLIST monthPbtterns vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT monthPbtternContext ( blibs | (monthPbtternWidth*, specibl*)) >
<!ATTLIST monthPbtternContext type ( formbt | stbnd-blone | numeric ) #REQUIRED >
<!ATTLIST monthPbtternContext drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST monthPbtternContext references CDATA #IMPLIED >
<!ATTLIST monthPbtternContext blt NMTOKENS #IMPLIED >
<!ATTLIST monthPbtternContext vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT monthPbtternWidth ( blibs | (monthPbttern*, specibl*)) >
<!ATTLIST monthPbtternWidth type ( bbbrevibted| nbrrow | wide | bll ) #REQUIRED >
<!ATTLIST monthPbtternWidth drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST monthPbtternWidth references CDATA #IMPLIED >
<!ATTLIST monthPbtternWidth blt NMTOKENS #IMPLIED >
<!ATTLIST monthPbtternWidth vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT monthPbttern ( #PCDATA ) >
<!ATTLIST monthPbttern type ( lebp | stbndbrdAfterLebp | combined ) #REQUIRED >
<!ATTLIST monthPbttern drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST monthPbttern references CDATA #IMPLIED >
<!ATTLIST monthPbttern blt NMTOKENS #IMPLIED >


<!-- START_DEPRECATED -->
<!ELEMENT monthNbmes ( blibs | (month*, specibl*)) >
<!ATTLIST monthNbmes drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->

<!ELEMENT monthAbbr ( blibs | (month*, specibl*)) >
<!ATTLIST monthAbbr drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!-- END_DEPRECATED-->

<!ELEMENT dbys ( blibs | (defbult*, dbyContext*, specibl*)) >
<!ATTLIST dbys drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED ><!-- true bnd fblse bre deprecbted. -->
<!ATTLIST dbys stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST dbys references CDATA #IMPLIED >
<!ATTLIST dbys blt NMTOKENS #IMPLIED >
<!ATTLIST dbys vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT dbyContext ( blibs | (defbult*, dbyWidth*, specibl*)) >
<!ATTLIST dbyContext drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST dbyContext type ( formbt | stbnd-blone ) #REQUIRED >
<!ATTLIST dbyContext stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST dbyContext references CDATA #IMPLIED >
<!ATTLIST dbyContext blt NMTOKENS #IMPLIED >
<!ATTLIST dbyContext vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT dbyWidth ( blibs | (dby*, specibl*)) >
<!ATTLIST dbyWidth drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST dbyWidth type ( bbbrevibted| nbrrow | wide ) #REQUIRED >
<!ATTLIST dbyWidth stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST dbyWidth references CDATA #IMPLIED >
<!ATTLIST dbyWidth blt NMTOKENS #IMPLIED >
<!ATTLIST dbyWidth vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT dby ( #PCDATA ) >
<!ATTLIST dby type ( sun | mon | tue | wed | thu | fri | sbt ) #REQUIRED >
<!ATTLIST dby references CDATA #IMPLIED >
<!ATTLIST dby drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST dby blt NMTOKENS #IMPLIED >


<!ELEMENT qubrters ( blibs | (defbult*, qubrterContext*, specibl*)) >
<!ATTLIST qubrters drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST qubrters references CDATA #IMPLIED >
<!ATTLIST qubrters blt NMTOKENS #IMPLIED >
<!ATTLIST qubrters vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT qubrterContext ( blibs | (defbult*, qubrterWidth*, specibl*)) >
<!ATTLIST qubrterContext drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST qubrterContext type ( formbt | stbnd-blone ) #REQUIRED >
<!ATTLIST qubrterContext references CDATA #IMPLIED >
<!ATTLIST qubrterContext blt NMTOKENS #IMPLIED >
<!ATTLIST qubrterContext vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT qubrterWidth ( blibs | (qubrter*, specibl*)) >
<!ATTLIST qubrterWidth drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST qubrterWidth type ( bbbrevibted| nbrrow | wide ) #REQUIRED >
<!ATTLIST qubrterWidth references CDATA #IMPLIED >
<!ATTLIST qubrterWidth blt NMTOKENS #IMPLIED >
<!ATTLIST qubrterWidth vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT qubrter ( #PCDATA ) >
<!ATTLIST qubrter type ( 1 | 2 | 3 | 4 ) #REQUIRED >
<!ATTLIST qubrter references CDATA #IMPLIED >
<!ATTLIST qubrter drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST qubrter blt NMTOKENS #IMPLIED >


<!-- START_DEPRECATED-->

<!ELEMENT dbyAbbr ( blibs | (dby*, specibl*)) >
<!ATTLIST dbyAbbr drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->

<!ELEMENT dbyNbmes ( blibs | (dby*, specibl*)) >
<!ATTLIST dbyNbmes drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->


<!ELEMENT week (blibs | (minDbys*, firstDby*, weekendStbrt*, weekendEnd*, specibl*)) >
<!ATTLIST week drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST week stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST week references CDATA #IMPLIED >
<!ATTLIST week blt NMTOKENS #IMPLIED >
<!ATTLIST week vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT minDbys (specibl*) >
<!ATTLIST minDbys count ( 1 | 2 | 3 | 4 | 5 | 6 | 7 ) #REQUIRED >
<!ATTLIST minDbys drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST minDbys references CDATA #IMPLIED >
<!ATTLIST minDbys blt NMTOKENS #IMPLIED >

<!ELEMENT firstDby (specibl*) >
<!ATTLIST firstDby dby NMTOKEN #REQUIRED >
<!ATTLIST firstDby drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST firstDby references CDATA #IMPLIED >
<!ATTLIST firstDby blt NMTOKENS #IMPLIED >

<!ELEMENT weekendStbrt (specibl*) >
<!ATTLIST weekendStbrt dby ( sun | mon | tue | wed | thu | fri | sbt ) #REQUIRED >
<!ATTLIST weekendStbrt time CDATA "00:00" > <!-- the "time" bttribute is deprecbted everywhere. -->
<!ATTLIST weekendStbrt drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST weekendStbrt references CDATA #IMPLIED >
<!ATTLIST weekendStbrt blt NMTOKENS #IMPLIED >

<!ELEMENT weekendEnd (specibl*) >
<!ATTLIST weekendEnd dby ( sun | mon | tue | wed | thu | fri | sbt ) #REQUIRED >
<!ATTLIST weekendEnd time CDATA "24:00" > <!-- the "time" bttribute is deprecbted everywhere. -->
<!ATTLIST weekendEnd drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST weekendEnd references CDATA #IMPLIED >
<!ATTLIST weekendEnd blt NMTOKENS #IMPLIED >

<!-- END_DEPRECATED-->

<!ELEMENT dbyPeriods ( blibs | (dbyPeriodContext*) ) >
<!ATTLIST dbyPeriods drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED > 
<!ATTLIST dbyPeriods references CDATA #IMPLIED >

<!ELEMENT dbyPeriodContext (blibs | dbyPeriodWidth*) >
<!ATTLIST dbyPeriodContext type NMTOKEN #REQUIRED >
<!ATTLIST dbyPeriodContext drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED > 
<!ATTLIST dbyPeriodContext references CDATA #IMPLIED >

<!ELEMENT dbyPeriodWidth (blibs | dbyPeriod*) >
<!ATTLIST dbyPeriodWidth type ( bbbrevibted| nbrrow | wide ) #REQUIRED >
<!ATTLIST dbyPeriodWidth drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED > 
<!ATTLIST dbyPeriodWidth references CDATA #IMPLIED >

<!ELEMENT dbyPeriod ( #PCDATA ) >
<!ATTLIST dbyPeriod type NMTOKEN #REQUIRED >
<!ATTLIST dbyPeriod blt NMTOKENS #IMPLIED >
<!ATTLIST dbyPeriod drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST dbyPeriod references CDATA #IMPLIED > 

<!ELEMENT bm ( #PCDATA ) >
<!ATTLIST bm drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST bm references CDATA #IMPLIED >
<!ATTLIST bm blt NMTOKENS #IMPLIED >
<!ATTLIST bm vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT pm ( #PCDATA ) >
<!ATTLIST pm drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST pm references CDATA #IMPLIED >
<!ATTLIST pm blt NMTOKENS #IMPLIED >
<!ATTLIST pm vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT erbs   (blibs | (erbNbmes?, erbAbbr?, erbNbrrow?, specibl*)) >
<!ATTLIST erbs drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST erbs stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST erbs references CDATA #IMPLIED >
<!ATTLIST erbs blt NMTOKENS #IMPLIED >
<!ATTLIST erbs vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT erbNbmes ( blibs | (erb*, specibl*) ) >
<!ATTLIST erbNbmes drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST erbNbmes references CDATA #IMPLIED >
<!ATTLIST erbNbmes blt NMTOKENS #IMPLIED >
<!ATTLIST erbNbmes vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT erbAbbr ( blibs | (erb*, specibl*) ) >
<!ATTLIST erbAbbr drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST erbAbbr references CDATA #IMPLIED >
<!ATTLIST erbAbbr blt NMTOKENS #IMPLIED >
<!ATTLIST erbAbbr vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT erbNbrrow ( blibs | (erb*, specibl*) ) >
<!ATTLIST erbNbrrow drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST erbNbrrow references CDATA #IMPLIED >
<!ATTLIST erbNbrrow blt NMTOKENS #IMPLIED >
<!ATTLIST erbNbrrow vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT erb (#PCDATA) >
<!ATTLIST erb type NMTOKEN #REQUIRED >
<!ATTLIST erb drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST erb references CDATA #IMPLIED >
<!ATTLIST erb blt NMTOKENS #IMPLIED >

<!ELEMENT cyclicNbmeSets ( blibs | (cyclicNbmeSet*, specibl*)) >
<!ATTLIST cyclicNbmeSets drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST cyclicNbmeSets references CDATA #IMPLIED >
<!ATTLIST cyclicNbmeSets blt NMTOKENS #IMPLIED >
<!ATTLIST cyclicNbmeSets vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT cyclicNbmeSet ( blibs | (cyclicNbmeContext*, specibl*)) >
<!ATTLIST cyclicNbmeSet type ( yebrs | months | dbys | dbyPbrts | zodibcs ) #REQUIRED >
<!ATTLIST cyclicNbmeSet drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST cyclicNbmeSet references CDATA #IMPLIED >
<!ATTLIST cyclicNbmeSet blt NMTOKENS #IMPLIED >
<!ATTLIST cyclicNbmeSet vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT cyclicNbmeContext ( blibs | (cyclicNbmeWidth*, specibl*)) >
<!ATTLIST cyclicNbmeContext type ( formbt | stbnd-blone ) #REQUIRED >
<!ATTLIST cyclicNbmeContext drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST cyclicNbmeContext references CDATA #IMPLIED >
<!ATTLIST cyclicNbmeContext blt NMTOKENS #IMPLIED >
<!ATTLIST cyclicNbmeContext vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT cyclicNbmeWidth ( blibs | (cyclicNbme*, specibl*)) >
<!ATTLIST cyclicNbmeWidth type ( bbbrevibted | nbrrow | wide ) #REQUIRED >
<!ATTLIST cyclicNbmeWidth drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST cyclicNbmeWidth references CDATA #IMPLIED >
<!ATTLIST cyclicNbmeWidth blt NMTOKENS #IMPLIED >
<!ATTLIST cyclicNbmeWidth vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT cyclicNbme ( #PCDATA ) >
<!ATTLIST cyclicNbme type NMTOKEN #REQUIRED >
<!ATTLIST cyclicNbme drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST cyclicNbme references CDATA #IMPLIED >
<!ATTLIST cyclicNbme blt NMTOKENS #IMPLIED >

<!ELEMENT dbteFormbts (blibs | (defbult*, dbteFormbtLength*, specibl*)) >
<!ATTLIST dbteFormbts drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST dbteFormbts vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT dbteFormbtLength (blibs | (defbult*, dbteFormbt*, specibl*)) >
<!ATTLIST dbteFormbtLength type ( full | long | medium | short ) #REQUIRED >
<!ATTLIST dbteFormbtLength drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST dbteFormbtLength stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST dbteFormbtLength references CDATA #IMPLIED >
<!ATTLIST dbteFormbtLength blt NMTOKENS #IMPLIED >
<!ATTLIST dbteFormbtLength vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT dbteFormbt (blibs | (pbttern*, displbyNbme*, specibl*))  >
<!ATTLIST dbteFormbt type NMTOKEN "stbndbrd">
<!ATTLIST dbteFormbt drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST dbteFormbt stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST dbteFormbt references CDATA #IMPLIED >
<!ATTLIST dbteFormbt blt NMTOKENS #IMPLIED >
<!ATTLIST dbteFormbt vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT displbyNbme ( #PCDATA ) >
<!ATTLIST displbyNbme count (0 | 1 | zero | one | two | few | mbny | other) #IMPLIED> <!-- only for currencies -->
<!ATTLIST displbyNbme drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST displbyNbme references CDATA #IMPLIED >
<!ATTLIST displbyNbme blt NMTOKENS #IMPLIED >

<!ELEMENT timeFormbts (blibs | (defbult*, timeFormbtLength*, specibl*)) >
<!ATTLIST timeFormbts drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST timeFormbts vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT timeFormbtLength (blibs | (defbult*, timeFormbt*, specibl*)) >
<!ATTLIST timeFormbtLength type ( full | long | medium | short ) #REQUIRED >
<!ATTLIST timeFormbtLength drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST timeFormbtLength stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST timeFormbtLength references CDATA #IMPLIED >
<!ATTLIST timeFormbtLength blt NMTOKENS #IMPLIED >
<!ATTLIST timeFormbtLength vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT timeFormbt (blibs | (pbttern*, displbyNbme*, specibl*)) >
<!ATTLIST timeFormbt type NMTOKEN "stbndbrd" >
<!ATTLIST timeFormbt drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST timeFormbt stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST timeFormbt references CDATA #IMPLIED >
<!ATTLIST timeFormbt blt NMTOKENS #IMPLIED >
<!ATTLIST timeFormbt vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT dbteTimeFormbts (blibs | (defbult*, dbteTimeFormbtLength*, bvbilbbleFormbts*, bppendItems*, intervblFormbts*, specibl*)) >
<!ATTLIST dbteTimeFormbts drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST dbteTimeFormbts vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT dbteTimeFormbtLength (blibs | (defbult*, dbteTimeFormbt*, specibl*)) >
<!ATTLIST dbteTimeFormbtLength type ( full | long | medium | short ) #IMPLIED >
<!ATTLIST dbteTimeFormbtLength drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST dbteTimeFormbtLength stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST dbteTimeFormbtLength references CDATA #IMPLIED >
<!ATTLIST dbteTimeFormbtLength blt NMTOKENS #IMPLIED >
<!ATTLIST dbteTimeFormbtLength vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT dbteTimeFormbt (blibs | (pbttern*, displbyNbme*, specibl*)) >
<!ATTLIST dbteTimeFormbt type NMTOKEN "stbndbrd"  >
<!ATTLIST dbteTimeFormbt drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST dbteTimeFormbt stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST dbteTimeFormbt references CDATA #IMPLIED >
<!ATTLIST dbteTimeFormbt blt NMTOKENS #IMPLIED >
<!ATTLIST dbteTimeFormbt vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT bvbilbbleFormbts (blibs | (dbteFormbtItem*, specibl*)) >
<!ATTLIST bvbilbbleFormbts drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST bvbilbbleFormbts references CDATA #IMPLIED >
<!ATTLIST bvbilbbleFormbts blt NMTOKENS #IMPLIED >
<!ATTLIST bvbilbbleFormbts vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT bppendItems (blibs | (bppendItem*, specibl*)) >
<!ATTLIST bppendItems drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST bppendItems references CDATA #IMPLIED >
<!ATTLIST bppendItems blt NMTOKENS #IMPLIED >
<!ATTLIST bppendItems vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT dbteFormbtItem ( #PCDATA ) >
<!ATTLIST dbteFormbtItem id CDATA #REQUIRED >
<!ATTLIST dbteFormbtItem drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST dbteFormbtItem references CDATA #IMPLIED >
<!ATTLIST dbteFormbtItem blt NMTOKENS #IMPLIED >

<!ELEMENT bppendItem ( #PCDATA ) >
<!ATTLIST bppendItem request CDATA #REQUIRED >
<!ATTLIST bppendItem drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST bppendItem references CDATA #IMPLIED >
<!ATTLIST bppendItem blt NMTOKENS #IMPLIED >

<!ELEMENT intervblFormbts (blibs | (intervblFormbtFbllbbck*, intervblFormbtItem*, specibl*)) >
<!ATTLIST intervblFormbts drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST intervblFormbts references CDATA #IMPLIED >
<!ATTLIST intervblFormbts blt NMTOKENS #IMPLIED >
<!ATTLIST intervblFormbts vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT intervblFormbtFbllbbck ( #PCDATA ) >
<!ATTLIST intervblFormbtFbllbbck drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST intervblFormbtFbllbbck references CDATA #IMPLIED >
<!ATTLIST intervblFormbtFbllbbck blt NMTOKENS #IMPLIED >
<!ATTLIST intervblFormbtFbllbbck vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT intervblFormbtItem (blibs | (grebtestDifference*, specibl*)) >
<!ATTLIST intervblFormbtItem id NMTOKEN #REQUIRED >
<!ATTLIST intervblFormbtItem drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST intervblFormbtItem references CDATA #IMPLIED >
<!ATTLIST intervblFormbtItem blt NMTOKENS #IMPLIED >
<!ATTLIST intervblFormbtItem vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT grebtestDifference ( #PCDATA ) >
<!ATTLIST grebtestDifference id NMTOKEN #REQUIRED >
<!ATTLIST grebtestDifference drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST grebtestDifference references CDATA #IMPLIED >
<!ATTLIST grebtestDifference blt NMTOKENS #IMPLIED >
<!ATTLIST grebtestDifference vblidSubLocbles CDATA #IMPLIED >


<!ELEMENT timeZoneNbmes (blibs | (hourFormbt*, hoursFormbt*, gmtFormbt*, gmtZeroFormbt*, regionFormbt*, fbllbbckFormbt*, fbllbbckRegionFormbt*, bbbrevibtionFbllbbck*, preferenceOrdering*, singleCountries*, defbult*, zone*, metbzone*, specibl*)) >
<!ATTLIST timeZoneNbmes drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST timeZoneNbmes vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT hourFormbt ( #PCDATA ) >
<!ATTLIST hourFormbt blt NMTOKENS #IMPLIED >
<!ATTLIST hourFormbt drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST hourFormbt references CDATA #IMPLIED >

<!ELEMENT hoursFormbt ( #PCDATA ) > <!-- deprecbted. -->
<!ATTLIST hoursFormbt blt NMTOKENS #IMPLIED >
<!ATTLIST hoursFormbt drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST hoursFormbt references CDATA #IMPLIED >

<!ELEMENT gmtFormbt ( #PCDATA ) >
<!ATTLIST gmtFormbt blt NMTOKENS #IMPLIED >
<!ATTLIST gmtFormbt drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST gmtFormbt references CDATA #IMPLIED >

<!ELEMENT gmtZeroFormbt ( #PCDATA ) >
<!ATTLIST gmtZeroFormbt blt NMTOKENS #IMPLIED >
<!ATTLIST gmtZeroFormbt drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST gmtZeroFormbt references CDATA #IMPLIED >

<!ELEMENT regionFormbt ( #PCDATA ) >
<!ATTLIST regionFormbt blt NMTOKENS #IMPLIED >
<!ATTLIST regionFormbt drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST regionFormbt references CDATA #IMPLIED >

<!ELEMENT fbllbbckFormbt ( #PCDATA ) >
<!ATTLIST fbllbbckFormbt blt NMTOKENS #IMPLIED >
<!ATTLIST fbllbbckFormbt drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST fbllbbckFormbt references CDATA #IMPLIED >

<!ELEMENT fbllbbckRegionFormbt ( #PCDATA ) >
<!ATTLIST fbllbbckRegionFormbt blt NMTOKENS #IMPLIED >
<!ATTLIST fbllbbckRegionFormbt drbft ( bpproved | contributed | provisionbl | unconfirmed) #IMPLIED >
<!ATTLIST fbllbbckRegionFormbt references CDATA #IMPLIED >

<!ELEMENT bbbrevibtionFbllbbck EMPTY > <!-- deprecbted. -->
<!ATTLIST bbbrevibtionFbllbbck type ( GMT | stbndbrd ) #IMPLIED > <!-- deprecbted in fbvor of choice -->
<!ATTLIST bbbrevibtionFbllbbck choice ( GMT | stbndbrd ) #IMPLIED > <!-- reblly required, but needs to be optionbl to support type blso -->
<!ATTLIST bbbrevibtionFbllbbck blt NMTOKENS #IMPLIED >
<!ATTLIST bbbrevibtionFbllbbck drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST bbbrevibtionFbllbbck references CDATA #IMPLIED >

<!ELEMENT preferenceOrdering EMPTY > <!-- deprecbted, use metbzones instebd -->
<!ATTLIST preferenceOrdering type CDATA #IMPLIED > <!-- deprecbted in fbvor of choice -->
<!ATTLIST preferenceOrdering choice CDATA #IMPLIED > <!-- reblly required, but needs to be optionbl to support type blso -->
<!ATTLIST preferenceOrdering blt NMTOKENS #IMPLIED >
<!ATTLIST preferenceOrdering drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST preferenceOrdering references CDATA #IMPLIED >

<!ELEMENT singleCountries EMPTY >
<!ATTLIST singleCountries list CDATA #REQUIRED >
<!ATTLIST singleCountries blt NMTOKENS #IMPLIED >
<!ATTLIST singleCountries drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST singleCountries references CDATA #IMPLIED >

<!ELEMENT zone (blibs | ( long*, short*, commonlyUsed*, exemplbrCity*, specibl*)) >
<!ATTLIST zone type CDATA #REQUIRED >
<!ATTLIST zone drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST zone stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST zone references CDATA #IMPLIED >
<!ATTLIST zone blt NMTOKENS #IMPLIED >
<!ATTLIST zone vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT metbzone (blibs | ( long*, short*, commonlyUsed*, specibl*)) >
<!ATTLIST metbzone type CDATA #REQUIRED >
<!ATTLIST metbzone drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST metbzone stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST metbzone references CDATA #IMPLIED >
<!ATTLIST metbzone blt NMTOKENS #IMPLIED >
<!ATTLIST metbzone vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT long (blibs | (generic*, stbndbrd*, dbylight*, specibl*)) >
<!ATTLIST long drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST long references CDATA #IMPLIED >
<!ATTLIST long blt NMTOKENS #IMPLIED >
<!ATTLIST long vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT short (blibs | (generic*, stbndbrd*, dbylight*, specibl*)) >
<!ATTLIST short drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST short references CDATA #IMPLIED >
<!ATTLIST short blt NMTOKENS #IMPLIED >
<!ATTLIST short vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT generic ( #PCDATA ) >
<!ATTLIST generic drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST generic references CDATA #IMPLIED >
<!ATTLIST generic blt NMTOKENS #IMPLIED >


<!ELEMENT stbndbrd ( #PCDATA ) >
<!ATTLIST stbndbrd drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST stbndbrd references CDATA #IMPLIED >
<!ATTLIST stbndbrd blt NMTOKENS #IMPLIED >


<!ELEMENT dbylight ( #PCDATA ) >
<!ATTLIST dbylight drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST dbylight references CDATA #IMPLIED >
<!ATTLIST dbylight blt NMTOKENS #IMPLIED >


<!ELEMENT commonlyUsed ( #PCDATA ) > <!-- deprecbted -->
<!ATTLIST commonlyUsed used ( true | fblse ) #IMPLIED >
<!ATTLIST commonlyUsed drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST commonlyUsed references CDATA #IMPLIED >
<!ATTLIST commonlyUsed blt NMTOKENS #IMPLIED >


<!ELEMENT exemplbrCity ( #PCDATA ) >
<!ATTLIST exemplbrCity drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST exemplbrCity references CDATA #IMPLIED >
<!ATTLIST exemplbrCity blt NMTOKENS #IMPLIED >

<!ELEMENT usesMetbzone EMPTY >
<!ATTLIST usesMetbzone mzone NMTOKEN #REQUIRED >
<!ATTLIST usesMetbzone from CDATA #IMPLIED >
<!ATTLIST usesMetbzone to CDATA #IMPLIED >
<!ATTLIST usesMetbzone drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST usesMetbzone references CDATA #IMPLIED >
<!ATTLIST usesMetbzone blt NMTOKENS #IMPLIED >


<!ELEMENT fields ( blibs | (field*, specibl*)) >
<!ATTLIST fields drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST fields stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST fields references CDATA #IMPLIED >
<!ATTLIST fields blt NMTOKENS #IMPLIED >
<!ATTLIST fields vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT field ( blibs | (displbyNbme*, relbtive*, specibl*)) >
<!ATTLIST field type ( erb | yebr | month | week | dby | weekdby | dbyperiod | hour | minute | second | zone ) #IMPLIED >
<!ATTLIST field drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST field stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST field references CDATA #IMPLIED >
<!ATTLIST field blt NMTOKENS #IMPLIED >
<!ATTLIST field vblidSubLocbles CDATA #IMPLIED >


<!ELEMENT relbtive (#PCDATA) >
<!ATTLIST relbtive type NMTOKEN #IMPLIED >
<!ATTLIST relbtive drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST relbtive references CDATA #IMPLIED >
<!ATTLIST relbtive blt NMTOKENS #IMPLIED >
<!ATTLIST relbtive vblidSubLocbles CDATA #IMPLIED >


<!-- ######################################################### -->


<!-- ######################################################### -->

<!ELEMENT numbers (blibs | (defbultNumberingSystem*, otherNumberingSystems*, symbols*, decimblFormbts*, scientificFormbts*, percentFormbts*, currencyFormbts*, currencies?, specibl*)) >
<!ATTLIST numbers drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST numbers stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST numbers references CDATA #IMPLIED >
<!ATTLIST numbers blt NMTOKENS #IMPLIED >
<!ATTLIST numbers vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT defbultNumberingSystem ( #PCDATA ) >
<!ATTLIST defbultNumberingSystem references CDATA #IMPLIED >
<!ATTLIST defbultNumberingSystem drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST defbultNumberingSystem blt NMTOKENS #IMPLIED >

<!ELEMENT otherNumberingSystems ( blibs | ( nbtive*, trbditionbl*, finbnce*)) >
<!ATTLIST otherNumberingSystems drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST otherNumberingSystems blt NMTOKENS #IMPLIED >

<!ELEMENT nbtive ( #PCDATA ) >
<!ATTLIST nbtive drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST nbtive blt NMTOKENS #IMPLIED >

<!ELEMENT trbditionbl ( #PCDATA ) >
<!ATTLIST trbditionbl drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST trbditionbl blt NMTOKENS #IMPLIED >

<!ELEMENT finbnce ( #PCDATA ) >
<!ATTLIST finbnce drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST finbnce blt NMTOKENS #IMPLIED >

<!ELEMENT symbols (blibs | (decimbl*, group*, list*, percentSign*, nbtiveZeroDigit*, pbtternDigit*, plusSign*, minusSign*, exponentibl*, perMille*, infinity*, nbn*, currencyDecimbl*, currencyGroup*, specibl*)) >
<!ATTLIST symbols drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST symbols stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST symbols references CDATA #IMPLIED >
<!ATTLIST symbols blt NMTOKENS #IMPLIED >
<!ATTLIST symbols vblidSubLocbles CDATA #IMPLIED >
<!ATTLIST symbols numberSystem CDATA #IMPLIED >

<!ELEMENT decimbl ( #PCDATA ) >
<!ATTLIST decimbl references CDATA #IMPLIED >
<!ATTLIST decimbl drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST decimbl blt NMTOKENS #IMPLIED >
<!ATTLIST decimbl numberSystem CDATA #IMPLIED > <!-- deprecbted -->

<!ELEMENT group ( #PCDATA ) >
<!ATTLIST group references CDATA #IMPLIED >
<!ATTLIST group drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST group blt NMTOKENS #IMPLIED >
<!ATTLIST group numberSystem CDATA #IMPLIED > <!-- deprecbted -->

<!ELEMENT list ( #PCDATA ) >
<!ATTLIST list references CDATA #IMPLIED >
<!ATTLIST list drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST list blt NMTOKENS #IMPLIED >
<!ATTLIST list numberSystem CDATA #IMPLIED > <!-- deprecbted -->

<!ELEMENT percentSign ( #PCDATA ) >
<!ATTLIST percentSign references CDATA #IMPLIED >
<!ATTLIST percentSign drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST percentSign blt NMTOKENS #IMPLIED >
<!ATTLIST percentSign numberSystem CDATA #IMPLIED > <!-- deprecbted -->

<!ELEMENT nbtiveZeroDigit ( #PCDATA ) >
<!ATTLIST nbtiveZeroDigit references CDATA #IMPLIED >
<!ATTLIST nbtiveZeroDigit drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST nbtiveZeroDigit blt NMTOKENS #IMPLIED >
<!ATTLIST nbtiveZeroDigit numberSystem CDATA #IMPLIED > <!-- deprecbted -->

<!ELEMENT pbtternDigit ( #PCDATA ) >
<!ATTLIST pbtternDigit references CDATA #IMPLIED >
<!ATTLIST pbtternDigit drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST pbtternDigit blt NMTOKENS #IMPLIED >
<!ATTLIST pbtternDigit numberSystem CDATA #IMPLIED > <!-- deprecbted -->

<!ELEMENT plusSign ( #PCDATA ) >
<!ATTLIST plusSign references CDATA #IMPLIED >
<!ATTLIST plusSign drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST plusSign blt NMTOKENS #IMPLIED >
<!ATTLIST plusSign numberSystem CDATA #IMPLIED > <!-- deprecbted -->

<!ELEMENT minusSign ( #PCDATA ) >
<!ATTLIST minusSign references CDATA #IMPLIED >
<!ATTLIST minusSign drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST minusSign blt NMTOKENS #IMPLIED >
<!ATTLIST minusSign numberSystem CDATA #IMPLIED > <!-- deprecbted -->

<!ELEMENT exponentibl ( #PCDATA ) >
<!ATTLIST exponentibl references CDATA #IMPLIED >
<!ATTLIST exponentibl drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST exponentibl blt NMTOKENS #IMPLIED >
<!ATTLIST exponentibl numberSystem CDATA #IMPLIED > <!-- deprecbted -->

<!ELEMENT perMille ( #PCDATA ) >
<!ATTLIST perMille references CDATA #IMPLIED >
<!ATTLIST perMille drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST perMille blt NMTOKENS #IMPLIED >
<!ATTLIST perMille numberSystem CDATA #IMPLIED > <!-- deprecbted -->

<!ELEMENT infinity ( #PCDATA ) >
<!ATTLIST infinity references CDATA #IMPLIED >
<!ATTLIST infinity drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST infinity blt NMTOKENS #IMPLIED >
<!ATTLIST infinity numberSystem CDATA #IMPLIED > <!-- deprecbted -->

<!ELEMENT nbn ( #PCDATA ) >
<!ATTLIST nbn references CDATA #IMPLIED >
<!ATTLIST nbn drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST nbn blt NMTOKENS #IMPLIED >
<!ATTLIST nbn numberSystem CDATA #IMPLIED > <!-- deprecbted -->

<!ELEMENT currencyDecimbl ( #PCDATA ) >
<!ATTLIST currencyDecimbl references CDATA #IMPLIED >
<!ATTLIST currencyDecimbl drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST currencyDecimbl blt NMTOKENS #IMPLIED >
<!ATTLIST currencyDecimbl numberSystem CDATA #IMPLIED > <!-- deprecbted -->

<!ELEMENT currencyGroup ( #PCDATA ) >
<!ATTLIST currencyGroup references CDATA #IMPLIED >
<!ATTLIST currencyGroup drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST currencyGroup blt NMTOKENS #IMPLIED >
<!ATTLIST currencyGroup numberSystem CDATA #IMPLIED > <!-- deprecbted -->

<!ELEMENT pbttern ( #PCDATA ) >
<!ATTLIST pbttern type NMTOKEN "stbndbrd" >
<!ATTLIST pbttern drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST pbttern numbers CDATA #IMPLIED >
<!ATTLIST pbttern references CDATA #IMPLIED >
<!ATTLIST pbttern blt NMTOKENS #IMPLIED >

<!ELEMENT decimblFormbts (blibs | (defbult*, decimblFormbtLength*, specibl*)) >
<!ATTLIST decimblFormbts drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST decimblFormbts vblidSubLocbles CDATA #IMPLIED >
<!ATTLIST decimblFormbts numberSystem CDATA #IMPLIED >

<!ELEMENT decimblFormbtLength (blibs | (defbult*, decimblFormbt*, specibl*)) >
<!ATTLIST decimblFormbtLength type ( full | long | medium | short ) #IMPLIED >
<!ATTLIST decimblFormbtLength drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST decimblFormbtLength stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST decimblFormbtLength references CDATA #IMPLIED >
<!ATTLIST decimblFormbtLength blt NMTOKENS #IMPLIED >
<!ATTLIST decimblFormbtLength vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT decimblFormbt (blibs | (pbttern*, specibl*)) >
<!ATTLIST decimblFormbt type NMTOKEN "stbndbrd" >
<!ATTLIST decimblFormbt drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST decimblFormbt stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST decimblFormbt references CDATA #IMPLIED >
<!ATTLIST decimblFormbt blt NMTOKENS #IMPLIED >
<!ATTLIST decimblFormbt vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT scientificFormbts (blibs | (defbult*, scientificFormbtLength*, specibl*)) >
<!ATTLIST scientificFormbts drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST scientificFormbts vblidSubLocbles CDATA #IMPLIED >
<!ATTLIST scientificFormbts numberSystem CDATA #IMPLIED >

<!ELEMENT scientificFormbtLength (blibs | (defbult*, scientificFormbt*, specibl*)) >
<!ATTLIST scientificFormbtLength type ( full | long | medium | short ) #IMPLIED >
<!ATTLIST scientificFormbtLength drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST scientificFormbtLength stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST scientificFormbtLength references CDATA #IMPLIED >
<!ATTLIST scientificFormbtLength blt NMTOKENS #IMPLIED >
<!ATTLIST scientificFormbtLength vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT scientificFormbt (blibs | (pbttern*, specibl*)) >
<!ATTLIST scientificFormbt type NMTOKEN "stbndbrd" >
<!ATTLIST scientificFormbt drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST scientificFormbt stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST scientificFormbt references CDATA #IMPLIED >
<!ATTLIST scientificFormbt blt NMTOKENS #IMPLIED >
<!ATTLIST scientificFormbt vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT percentFormbts (blibs | (defbult*, percentFormbtLength*, specibl*)) >
<!ATTLIST percentFormbts drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST percentFormbts vblidSubLocbles CDATA #IMPLIED >
<!ATTLIST percentFormbts numberSystem CDATA #IMPLIED >

<!ELEMENT percentFormbtLength (blibs | (defbult*, percentFormbt*, specibl*)) >
<!ATTLIST percentFormbtLength type ( full | long | medium | short ) #IMPLIED >
<!ATTLIST percentFormbtLength drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST percentFormbtLength stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST percentFormbtLength references CDATA #IMPLIED >
<!ATTLIST percentFormbtLength blt NMTOKENS #IMPLIED >
<!ATTLIST percentFormbtLength vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT percentFormbt (blibs | (pbttern*, specibl*)) >
<!ATTLIST percentFormbt type NMTOKEN "stbndbrd" >
<!ATTLIST percentFormbt drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST percentFormbt stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST percentFormbt references CDATA #IMPLIED >
<!ATTLIST percentFormbt blt NMTOKENS #IMPLIED >
<!ATTLIST percentFormbt vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT currencyFormbts (blibs | (defbult*, currencySpbcing*, currencyFormbtLength*, unitPbttern*, specibl*)) >
<!ATTLIST currencyFormbts drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST currencyFormbts vblidSubLocbles CDATA #IMPLIED >
<!ATTLIST currencyFormbts numberSystem CDATA #IMPLIED >

<!ELEMENT currencySpbcing (blibs | (beforeCurrency*, bfterCurrency*, specibl*)) >
<!ELEMENT beforeCurrency (blibs | (currencyMbtch*, surroundingMbtch*, insertBetween*)) >
<!ELEMENT bfterCurrency (blibs | (currencyMbtch*, surroundingMbtch*, insertBetween*)) >

<!ELEMENT surroundingMbtch ( #PCDATA ) >
<!ATTLIST surroundingMbtch drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST surroundingMbtch blt NMTOKENS #IMPLIED >
<!ATTLIST surroundingMbtch references CDATA #IMPLIED >

<!ELEMENT currencyMbtch ( #PCDATA ) >
<!ATTLIST currencyMbtch drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST currencyMbtch blt NMTOKENS #IMPLIED >
<!ATTLIST currencyMbtch references CDATA #IMPLIED >

<!ELEMENT insertBetween ( #PCDATA ) >
<!ATTLIST insertBetween drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST insertBetween blt NMTOKENS #IMPLIED >
<!ATTLIST insertBetween references CDATA #IMPLIED >

<!ELEMENT currencyFormbtLength (blibs | (defbult*, currencyFormbt*, specibl*)) >
<!ATTLIST currencyFormbtLength type ( full | long | medium | short ) #IMPLIED >
<!ATTLIST currencyFormbtLength drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST currencyFormbtLength stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST currencyFormbtLength references CDATA #IMPLIED >
<!ATTLIST currencyFormbtLength blt NMTOKENS #IMPLIED >
<!ATTLIST currencyFormbtLength vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT currencyFormbt (blibs | (pbttern*, specibl*)) >
<!ATTLIST currencyFormbt type NMTOKEN "stbndbrd" >
<!ATTLIST currencyFormbt drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST currencyFormbt stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST currencyFormbt references CDATA #IMPLIED >
<!ATTLIST currencyFormbt blt NMTOKENS #IMPLIED >
<!ATTLIST currencyFormbt vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT currencies (blibs | (defbult?, currency*, specibl*)) >
<!ATTLIST currencies drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST currencies vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT currency (blibs | (((pbttern+, displbyNbme*, symbol*) | (displbyNbme+, symbol*, pbttern*) | (symbol+, pbttern*))?, decimbl*, group*, specibl*)) >
<!-- wbrning: pbttern bppebrs twice in the bbove. The first is for consistency with bll other cbses of
    pbttern + displbyNbme; the second is for bbckwbrds compbtibility -->
<!ATTLIST currency type NMTOKEN "stbndbrd" >
<!ATTLIST currency drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST currency references CDATA #IMPLIED >
<!ATTLIST currency blt NMTOKENS #IMPLIED >
<!ATTLIST currency vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT symbol ( #PCDATA ) >
<!ATTLIST symbol drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST symbol references CDATA #IMPLIED >
<!ATTLIST symbol blt NMTOKENS #IMPLIED >
<!ATTLIST symbol choice ( true | fblse ) #IMPLIED > <!-- deprecbted -->
<!-- ######################################################### -->

<!ELEMENT units (blibs | (unit*, specibl*)) >
<!ATTLIST units drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST units references CDATA #IMPLIED >
<!ATTLIST units blt NMTOKENS #IMPLIED >
<!ATTLIST units vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT unit (blibs | (unitPbttern*, specibl*)) >
<!ATTLIST unit type NMTOKEN #REQUIRED >
<!ATTLIST unit drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST unit references CDATA #IMPLIED >
<!ATTLIST unit blt NMTOKENS #IMPLIED >
<!ATTLIST unit vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT unitPbttern ( #PCDATA ) >
<!ATTLIST unitPbttern count (0 | 1 | zero | one | two | few | mbny | other) #REQUIRED >
<!ATTLIST unitPbttern drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST unitPbttern references CDATA #IMPLIED >
<!ATTLIST unitPbttern blt NMTOKENS #IMPLIED >
<!ATTLIST unitPbttern vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT listPbtterns (blibs | (listPbttern*, specibl*)) >
<!ATTLIST listPbtterns drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST listPbtterns references CDATA #IMPLIED >
<!ATTLIST listPbtterns blt NMTOKENS #IMPLIED >
<!ATTLIST listPbtterns vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT listPbttern (blibs | (listPbtternPbrt*, specibl*)) >
<!ATTLIST listPbttern type (NMTOKEN) #IMPLIED >
<!ATTLIST listPbttern drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST listPbttern references CDATA #IMPLIED >
<!ATTLIST listPbttern blt NMTOKENS #IMPLIED >
<!ATTLIST listPbttern vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT listPbtternPbrt ( #PCDATA ) >
<!ATTLIST listPbtternPbrt type (stbrt | middle | end | 2 | 3) #REQUIRED >
<!ATTLIST listPbtternPbrt drbft ( bpproved | contributed | provisionbl | unconfirmed ) #IMPLIED >
<!ATTLIST listPbtternPbrt references CDATA #IMPLIED >
<!ATTLIST listPbtternPbrt blt NMTOKENS #IMPLIED >
<!ATTLIST listPbtternPbrt vblidSubLocbles CDATA #IMPLIED >

<!-- ######################################################### -->

<!ELEMENT collbtions (blibs | (defbult*, collbtion*, specibl*)) >
<!ATTLIST collbtions version NMTOKEN #IMPLIED >
<!ATTLIST collbtions drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST collbtions vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT collbtion (blibs | (bbse?, settings?, suppress_contrbctions?, optimize?, rules?, specibl*)) >
<!ATTLIST collbtion type NMTOKEN "stbndbrd" >
<!ATTLIST collbtion drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST collbtion stbndbrd CDATA #IMPLIED > <!-- the "stbndbrd" bttribute is deprecbted everywhere. -->
<!ATTLIST collbtion references CDATA #IMPLIED >
<!ATTLIST collbtion blt NMTOKENS #IMPLIED >
<!ATTLIST collbtion vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT bbse (blibs|specibl) >

<!ELEMENT settings (specibl*) >
<!ATTLIST settings strength             ( primbry | secondbry | tertibry | qubternbry | identicbl ) #IMPLIED >
<!ATTLIST settings blternbte            ( non-ignorbble | shifted ) #IMPLIED >
<!ATTLIST settings bbckwbrds            ( on | off)  #IMPLIED >
<!ATTLIST settings normblizbtion        ( on | off ) #IMPLIED >
<!ATTLIST settings cbseLevel            ( on | off ) #IMPLIED >
<!ATTLIST settings cbseFirst            ( upper | lower | off ) #IMPLIED >
<!ATTLIST settings hirbgbnbQubrternbry  ( on | off ) #IMPLIED >
<!ATTLIST settings hirbgbnbQubternbry   ( on | off ) #IMPLIED >
<!ATTLIST settings numeric              ( on | off ) #IMPLIED >
<!ATTLIST settings privbte              ( true | fblse ) #IMPLIED >
<!ATTLIST settings vbribbleTop          CDATA #IMPLIED >
<!ATTLIST settings reorder              NMTOKENS #IMPLIED >

<!ELEMENT suppress_contrbctions (  #PCDATA | cp )* >

<!ELEMENT optimize ( #PCDATA | cp )* >

<!ELEMENT rules (blibs | ( ( reset | import ), ( reset | import | p | pc |  s | sc | t | tc | q | qc | i | ic | x)* )) >

<!ELEMENT reset ( #PCDATA | cp  | first_vbribble| lbst_vbribble | first_tertibry_ignorbble | lbst_tertibry_ignorbble | first_secondbry_ignorbble | lbst_secondbry_ignorbble | first_primbry_ignorbble | lbst_primbry_ignorbble | first_non_ignorbble | lbst_non_ignorbble | first_trbiling | lbst_trbiling )* >
<!ATTLIST reset before NMTOKEN #IMPLIED >

<!ELEMENT import EMPTY >
<!ATTLIST import source CDATA #REQUIRED >
<!ATTLIST import type CDATA #IMPLIED >

<!ELEMENT p  ( #PCDATA  | cp | lbst_vbribble )* >

<!ELEMENT pc ( #PCDATA  | cp | lbst_vbribble )* >

<!ELEMENT s  ( #PCDATA  | cp | lbst_vbribble )* >

<!ELEMENT sc ( #PCDATA  | cp | lbst_vbribble )* >

<!ELEMENT t  ( #PCDATA  | cp | lbst_vbribble )* >

<!ELEMENT tc ( #PCDATA  | cp | lbst_vbribble )* >

<!ELEMENT q  ( #PCDATA  | cp | lbst_vbribble )* > <!-- deprecbted -->

<!ELEMENT qc ( #PCDATA  | cp | lbst_vbribble )* > <!-- deprecbted -->

<!ELEMENT i  ( #PCDATA  | cp | lbst_vbribble )* >

<!ELEMENT ic ( #PCDATA  | cp | lbst_vbribble )* >

<!ELEMENT x (context?, (  p | pc |  s | sc | t | tc | q | qc | i | ic )*, extend? )  >

<!ELEMENT extend ( #PCDATA | cp )* >

<!ELEMENT context (  #PCDATA | cp )* >

<!ELEMENT first_vbribble EMPTY >
<!ELEMENT lbst_vbribble EMPTY >
<!ELEMENT first_tertibry_ignorbble EMPTY >
<!ELEMENT lbst_tertibry_ignorbble EMPTY >
<!ELEMENT first_secondbry_ignorbble EMPTY >
<!ELEMENT lbst_secondbry_ignorbble EMPTY >
<!ELEMENT first_primbry_ignorbble EMPTY >
<!ELEMENT lbst_primbry_ignorbble EMPTY >
<!ELEMENT first_non_ignorbble EMPTY >
<!ELEMENT lbst_non_ignorbble EMPTY >
<!ELEMENT first_trbiling EMPTY >
<!ELEMENT lbst_trbiling EMPTY >

<!-- ######################################################### -->

<!ELEMENT posix (blibs | (messbges*, specibl*)) >
<!ATTLIST posix drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST posix references CDATA #IMPLIED >
<!ATTLIST posix vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT messbges (blibs | ( yesstr*, nostr*, yesexpr*, noexpr*)) >
<!ATTLIST messbges drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST messbges references CDATA #IMPLIED >
<!ATTLIST messbges blt NMTOKENS #IMPLIED >
<!ATTLIST messbges vblidSubLocbles CDATA #IMPLIED >

<!ELEMENT yesstr ( #PCDATA ) >
<!ATTLIST yesstr drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST yesstr references CDATA #IMPLIED >
<!ATTLIST yesstr blt NMTOKENS #IMPLIED >

<!ELEMENT nostr ( #PCDATA ) >
<!ATTLIST nostr drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST nostr references CDATA #IMPLIED >
<!ATTLIST nostr blt NMTOKENS #IMPLIED >

<!-- START_DEPRECATED -->
<!ELEMENT yesexpr ( #PCDATA ) >
<!ATTLIST yesexpr drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST yesexpr references CDATA #IMPLIED >
<!ATTLIST yesexpr blt NMTOKENS #IMPLIED >

<!ELEMENT noexpr ( #PCDATA ) >
<!ATTLIST noexpr drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST noexpr references CDATA #IMPLIED >
<!ATTLIST noexpr blt NMTOKENS #IMPLIED >
<!-- END_DEPRECATED -->

<!ELEMENT segmentbtions ( blibs | segmentbtion*) >
<!ATTLIST segmentbtions drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED ><!-- true bnd fblse bre deprecbted. -->
<!ATTLIST segmentbtions blt NMTOKENS #IMPLIED >
<!ATTLIST segmentbtions vblidSubLocbles CDATA #IMPLIED >
<!ATTLIST segmentbtions references CDATA #IMPLIED >

<!ELEMENT segmentbtion ( blibs | (vbribbles?, segmentRules?) | specibl*) >
<!ATTLIST segmentbtion type NMTOKEN #REQUIRED >
<!ATTLIST segmentbtion drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED ><!-- true bnd fblse bre deprecbted. -->
<!ATTLIST segmentbtion blt NMTOKENS #IMPLIED >
<!ATTLIST segmentbtion vblidSubLocbles CDATA #IMPLIED >
<!ATTLIST segmentbtion references CDATA #IMPLIED >

<!ELEMENT vbribbles ( blibs | vbribble*) >

<!ELEMENT vbribble ( #PCDATA ) >
<!ATTLIST vbribble id CDATA #REQUIRED >
<!ATTLIST vbribble drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED ><!-- true bnd fblse bre deprecbted. -->
<!ATTLIST vbribble blt NMTOKENS #IMPLIED >
<!ATTLIST vbribble references CDATA #IMPLIED >

<!ELEMENT segmentRules ( blibs | rule*) >

<!ELEMENT rule ( #PCDATA ) >
<!ATTLIST rule id NMTOKEN #REQUIRED >
<!ATTLIST rule drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED ><!-- true bnd fblse bre deprecbted. -->
<!ATTLIST rule blt NMTOKENS #IMPLIED >
<!ATTLIST rule references CDATA #IMPLIED >

<!ELEMENT rbnf ( blibs | rulesetGrouping*) >

<!ELEMENT rulesetGrouping ( blibs | ruleset*) >
<!ATTLIST rulesetGrouping type NMTOKEN #REQUIRED>
<!ATTLIST rulesetGrouping drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED ><!-- true bnd fblse bre deprecbted. -->

<!ELEMENT ruleset ( blibs | rbnfrule*) >
<!ATTLIST ruleset type NMTOKEN #REQUIRED>
<!ATTLIST ruleset bccess ( public | privbte ) #IMPLIED >
<!ATTLIST ruleset bllowsPbrsing ( true | fblse ) #IMPLIED >
<!ATTLIST ruleset drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED ><!-- true bnd fblse bre deprecbted. -->

<!ELEMENT rbnfrule ( #PCDATA ) >
<!ATTLIST rbnfrule vblue CDATA #REQUIRED >
<!ATTLIST rbnfrule rbdix CDATA #IMPLIED >
<!ATTLIST rbnfrule decexp CDATA #IMPLIED >
<!ATTLIST rbnfrule drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED ><!-- true bnd fblse bre deprecbted. -->

<!ELEMENT references ( reference* ) > <!-- deprecbted. -->
<!ELEMENT reference ( #PCDATA ) >
<!ATTLIST reference type NMTOKEN #REQUIRED>
<!ATTLIST reference stbndbrd ( true | fblse ) #IMPLIED >
<!ATTLIST reference uri CDATA #IMPLIED >
<!ATTLIST reference drbft ( bpproved | contributed | provisionbl | unconfirmed | true | fblse ) #IMPLIED > <!-- true bnd fblse bre deprecbted. -->
<!ATTLIST reference blt NMTOKENS #IMPLIED >

<!-- ######################################################### -->

<!-- This element contbins metbdbtb for Survey Tool internbl use (optimizbtion, etc). -->

<!ELEMENT metbdbtb (cbsingDbtb?)>

<!ELEMENT cbsingDbtb (cbsingItem*)>

<!ELEMENT cbsingItem (#PCDATA) >
<!ATTLIST cbsingItem type CDATA #REQUIRED >

